* {
  margin: 0;
  padding: 0;
}

h1 {
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 30, 30);
  padding: 1em; 
}

.nav-unordered-list {
  display: flex;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
  text-decoration: none;
}

li a:hover {
  background-color: #111;

}

.image-container > img {
  width: 100%;
  height: auto; 
}

.image-container {
  height: 40px;
  width: 80%;
  margin: auto; 
}

.prev, .next {
  cursor: pointer;
  
}

