* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 30, 30);
  padding: 1em; 
}

.nav-unordered-list {
  display: flex;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(56, 54, 179);
}
.active {
  background-color: rgb(56, 54, 179);
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.header {
  font-size: 36px;
  font-weight: bold;
  color: blueviolet;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-section {
  margin-bottom: 50px;
}

.about-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;

}

.about-section p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 25px;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  width: 300px;
  margin: 25px;
  text-align: center;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.team-member h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.team-member p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}
